.asideLeft{
    width: 15%;
    height: 100vh;
    background-color: var(--primary);
    float: left;
}

.aboutSection{
    width: 85%;
    height: 100vh;
    background-color: transparent;
    float: right; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
  width: 100%;
}

.aboutSection>h2{
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    margin-top: 70px;
    border: 2px dotted black;
    margin-bottom: 50px;
    
}

.descriptionA{
    width: 80%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 40px;
}

.nameA{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

span{
    font-weight: bold;
}