.portfolio{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.portfolio>h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    border: 2px dotted black;
    width: 600px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
   
}

.portfolio .menChoice{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
   
}

.portfolio .menChoice>p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    cursor: pointer;
}

.activet{
    color: var(--primary);
    font-weight: bold;
}

.nActiv{
    color: black;
    font-weight: lighter;
}