@import './colors.css';

*{
  margin: 0;
  padding: 0;
}

html{
  overflow: hidden;
}

.mainCover{
  width: 100%;
  height: 100vh;
  background-color: black;
}

.heroLeft{
  width: 40%;
  height: 100vh;
  background-color: var(--foreground);
  float: left;
  padding: 5%;
}
.heroRight{
  width: 50%;
  height: 100vh;
  background-color: transparent;
  float: right;
}

.fTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 20%;
}

.name{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 70px;
  color: var(--primary);
}

.name>span{
  color: black;
}

.Title{
  background-color: var(--primary);
  width: 370px;
  margin-bottom: 20px;
  padding:5px 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.description{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-bottom: 30px;
}

.cta{
  padding: 15px;
  background-color: var(--primary);
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}



